html,
body {
  font: 14px/1.21 "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
}

h1 {
  text-align: center;
}

.wrap {
  max-width: 1100px;
  margin: 0 auto;
}

.article-row {
  display: flex;
}

.article-item {
  flex: 1;
  padding: 0 20px;
}

.section-title {
  padding: 0 20px;
}

.article-item img {
  display: block;
  max-width: 100%;
}

.article-title {
  font-size: 18px;
}

.article-spacer {
  display: inline-block;
  margin: 0 4px;
}

@media (max-width: 560px) {
  .article-row {
    flex-direction: column;
  }
}
